# Python
venv/
__pycache__/
*.pyc
.env

# Frontend
frontend/node_modules/
frontend/dist/

# DB
*.db

# IDE
.vscode/
.idea/

# Backend
backend/data/upload/
backend/data/transcripts/*
!backend/data/transcripts/.gitkeep